<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Event Admin</title>
    <meta name="description" content="Description">
    <meta name="author" content="Ed Shee">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300" rel="stylesheet">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/admin.css">
</head>

<body>
    <div id="app">
        <header class="text-center">
            <div class="row">
                <div class="col-xs-6">Administration</div>
                <div class="col-xs-6">Registrations</div>
            </div>
        </header>
        <div class="container">
            <div class="container">
                <h3>Site Configuration</h3>
                <hr>
                <div class="form-group">
                    <label for="title">Page Title:</label>
                    <input type="text" class="form-control" id="page-title" v-model="config.title">
                </div>
                <div class="form-group">
                    <label for="description">Tagline:</label>
                    <input type="text" class="form-control" id="page-tagline" v-model="config.description">
                </div>
                <div class="form-group">
                    <label for="colors">Theme Colors</label>
                    <div class="row">
                        <div class="col-xs-3">
                            <input class="jscolor form-control" id="color0" v-model.lazy="config.colors[0]">
                        </div>
                        <div class="col-xs-3">
                            <input class="jscolor form-control" id="color0" v-model.lazy="config.colors[1]">
                        </div>
                        <div class="col-xs-3">
                            <input class="jscolor form-control" id="color0" v-model.lazy="config.colors[2]">
                        </div>
                        <div class="col-xs-3">
                            <input class="jscolor form-control" id="color0" v-model.lazy="config.colors[3]">
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-success" @click="saveConfigDetails">Save</button>
                <hr>
            </div>
            <div class="container">
                <h3>Events</h3>
                <div v-for="(event, index) in events">
                    <hr>
                    <div class="form-group">
                        <label for="title">Event Title:</label>
                        <input type="text" class="form-control" v-model="event.title">
                    </div>
                    <div class="form-group">
                        <label for="comment">Event Description:</label>
                        <textarea class="form-control" rows="5" v-model="event.description"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="description">Event Notes:</label>
                        <input type="text" class="form-control" v-model="event.notes">
                    </div>
                    <button type="button" class="btn btn-success" @click="saveEvent(index)">Save</button>
                    <button type="button" class="btn btn-danger" @click="deleteEvent(index)">Delete</button>
                    <hr>
                </div>
                <button type="button" class="btn btn-success" @click="createEvent">Create New Event</button>
            </div>
            <footer>
                <div class="description ">
                    <div class="container text-center footer-text ">
                        <p>Made by the IBM Cloud team</p>
                        <p>Powered by
                            <a href="https://bluemix.net ">IBM Cloud</a></p>
                    </div>
                </div>
            </footer>
        </div>


        <script src="scripts/jquery-3.1.1.min.js "></script>
        <script src="scripts/jscolor.min.js "></script>
        <script src="scripts/vue.js "></script>
        <script src="scripts/vue-resource.js "></script>
        <script src="scripts/bootstrap.min.js "></script>
        <script src="scripts/admin.js "></script>
</body>

</html>