<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Event Admin</title>
    <meta name="description" content="Description">
    <meta name="author" content="Ed Shee">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300" rel="stylesheet">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/registrations.css">
</head>

<body>
    <div id="app" :style="[backgroundColor4, fontColor3]">
        <header class="text-center">
            <div class="row nomargin">
                <a href="/admin">
                    <div class="col-xs-6 top-nav menu-a" :style="[backgroundColor2, fontColor3]">Administration</div>
                </a>
                <a href="/registrations">
                    <div class="col-xs-6 top-nav menu-a" :style="[backgroundColor1, fontColor4]">Registrations</div>
                </a>
            </div>
        </header>
        <div class="container">
            <div class="container">
                <div v-for="(event, index) in events" class="row">
                    <h3>{{event.title}}</h3>
                    <ul class="nav nav-tabs nav-justified" :style="[fontColor3, backgroundColor4]">
                        <li role="presentation" v-for="(instance, idx) in event.instances"><a :style="fontColor3" @click="updateTabs(index, instance.id)">{{instance.date}}</a></li>
                    </ul>
                    <div v-for="(registration, regIndex) in displayArr[index]">
                        {{registration}}
                    </div>
                    <hr>
                </div>
            </div>
        </div>
        <div class="bottompadding">
        </div>
        <footer>
            <div class="description" :style="[backgroundColor1, fontColor4]">
                <div class="container text-center footer-text">
                    <p>Made by the IBM Cloud team</p>
                    <p>Powered by
                        <a href="https://bluemix.net ">IBM Cloud</a></p>
                </div>
            </div>
        </footer>
    </div>


    <script src="scripts/jquery-3.1.1.min.js "></script>
    <script src="scripts/jscolor.min.js "></script>
    <script src="scripts/vue.js "></script>
    <script src="scripts/vue-resource.js "></script>
    <script src="scripts/bootstrap.min.js "></script>
    <script src="scripts/registrations.js "></script>
</body>

</html>