.title {
    font-size: 6rem;
    font-weight: bold;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.description {
    font-size: 2.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: bold;
}

.event-title {
    font-size: 4rem;
    font-weight: bold;
    padding-top: 2rem;
}

.event-description {
    font-size: 2rem;
    padding-top: 1rem;
    font-weight: bold;
}

.event-notes {
    font-size: 2rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    font-weight: bold;
}

.card-block-margin {
    margin-bottom: 1.4rem;
}

.block-padding {
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    padding-top: 0.7rem;
}

.card span {
    font-weight: bold;
}

.card {
    padding-bottom: 1rem;
}

.card-title {
    font-size: 2rem;
    padding-bottom: 1.5rem;
    padding-top: 1rem;
}

.card-text {
    font-size: 2rem;
    padding-bottom: 1.5rem;
}

.register-button {
    width: 100%;
    border-radius: 0;
    font-size: 2rem;
}

.footer-text p {
    font-size: 1.5rem;
}

.footer-text {
    padding-top: 1rem;
}

.footer-text p a {
    font-weight: bold;
    text-decoration: none;
}

body {
    font-family: 'Montserrat', sans-serif;
}

footer {
    margin-top: 2rem;
}